@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

:root {
  --pink-text: #BC3A80;
  --blue-text: #639ce7; 
  --button-color: #1762A7; 
  --button-hover-color: #2180d8; 
}

body {
  background-color: #2F303A;
  font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

a.button {
  background-color: var(--button-color);
}

a.button:hover {
  background-color: var(--button-hover-color);
}

img {
  z-index: -1;
}

footer {
  background-color: #202027;
}

#bubbles li:nth-child(1) {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
    bottom: 5vw;
    left: 5vw;
    z-index: -1;
}

#bubbles li:nth-child(2) {
    position: absolute;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
    top: 15vh;
    left: 30vw;
    z-index: -1;
}

#bubbles li:nth-child(3) {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#bubbles li:nth-child(3)::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
}